

<div class="container-index" id="container-index">
    <div class="banner-index">
              <%= image_tag "main-image.jpg", alt: "rails-watch-list", class: "image-banner" %>
          <h3>Save any kind of movies</h3>
    </div>
      <div class="container-lists">
          <h4 class="name-table-list">My list</h4>
          <button type="button" href="http://localhost:3000/lists/new" class="btn btn-primary" id="btn-create-list"><a href="http://localhost:3000/lists/new" style="color:inherit">Créer une liste</a></button>
          <div class="box-cards">
            <% @lists.each do |list| %>
             <div class="card-element">
                <h5 class="name-list" style="text-decoration:none;"S><%= list.name %></h5>

              <a href="http://localhost:3000/lists/<%= list.id %>">
                <% if list.avatar.attached? %>
                <%= cl_image_tag list.avatar.key, height: 150, width: 150, crop: :fill, :radius => 20 %>
                  <%end %>

               </a>
             </div>
             <% end %>
          </div>
      </div>
      <button id="test2"></button>
</div>







