

<div class="container-index" id="container-index">
    <div class="banner-index">
              <%= image_tag "main-image.jpg", alt: "rails-watch-list", class: "image-banner" %>
          <h3>Save any kind of movies</h3>
    </div>
      <div class="container-lists">
          <h4 class="name-table-list">My list</h4>
          <button type="button" href="http://localhost:3000/lists/new" class="btn btn-primary" id="btn-create-list"><a href="http://localhost:3000/lists/new" style="color:inherit">Créer une liste</a></button>
          <div class="box-cards">
            <% @lists.each do |list| %>
             <div class="card-element">
              <a href="http://localhost:3000/lists/<%= list.id %>">
                 <image>
                   <% if (@list.avatar.attached?) %>
                   <% image  %>
                     <img src="<%= (url_for(@list.avatar)) %>">
                    <% end %>

                 <h4 class="name-list"><%= list.name %></h4>
               </a>
             </div>
             <% end %>
          </div>
      </div>
</div>








