

<div class="container-bookmark-new">
  <div class="simple-form-html" id="simplef">
    <%= simple_form_for [ @list, @bookmark], remote: true do |f| %>
    <%= react_component 'PostForm', { list: @list, bookmark: @bookmark } %>
    <%= f.association :movie, input_html: { class: 'select2' }  %>
    <% end %>

  </div>
</div>




