// Import page-specific CSS files here.
@import "home";
@import "show";

//Principal div
#container-index{
  margin: 0 auto;
  max-width:960px;
}


//Banner + Picture + texte (h3)
.banner-index {
  display: flex;
  height: auto;
}

.banner-index {
  .image-banner {
    position: relative;
    max-width:100%;
    max-height:100%;
  }
}

.banner-index
  #title-index {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  justify-content: center;
  padding-left: 11px;
  padding-top: 11px;



}

.banner-index h5 {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  position: absolute;
  bottom: 142px;
  left: 700px;
}




.banner-lists {
  width: 1000px;
  height: 300px;
  margin: 16px;
}


.box-cards{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-end: 3;
  grid-gap: 37px;
  height: auto;
  width: 735px;
  padding-left: 29px;


}



.container-lists {
  background-color: #F8F9FA;
  padding-top: 45px;
  padding-left: 44px;
  padding-right: 44px;
}


.container-lists{
  #btn-create-list{
    margin-left: 62px;
    margin-right: 84px;
    position: relative;
    float: right;
  }
}

//h4
.container-lists{
  .name-table-list {
    width: 200px;
    height: 50px;
    padding-left: 96px;
    margin-bottom: 0px;

  }
}

.container-lists{
  .card-element {
    width: 226px;
    height: 250px;
}

}

.container-lists {
  .box-cards{
    margin-top: 84px;
    width: 756px;
    margin-left: 64px;
  }
}





@media screen and (max-width: 850px) {
  .container-lists .box-cards {
      grid-template-columns: 1fr 1fr;

    }
}

@media screen and (max-width: 700px) {
  .container-lists .box-cards{
      grid-template-columns: 1fr;
      width: 300px;
    }


}
