.container-new{
    justify-content: center;
    display: flex;
    padding-top: 160px;
    margin-left: 259px;
    width: 960px;
    height: 356px;

}

.form-create-list{
    margin-top: 0px;
    border: solid;
    border-width: 0.1px;
    border-radius: 9px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    box-shadow: 1px 2px 20px grey;
    width: 444.6px;
    height: 321.8px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 55px;
    padding-right: 55px;

}


li{
    list-style-type: none;
}
