.container-new{
    justify-content: center;
    display: flex;
    padding-top: 160px;
    margin-left: 259px;
    width: 960px;
    height: 356px;

}

.form-create-list{
    padding-top: 57px;
    height: 207px;
    margin-top: 0px;
    border: solid;
    padding-left: 35px;
    padding-right: 35px;
    border-width: 0.1px;
    border-radius: 9px;
    box-shadow: 1px 2px 20px grey;



}


li{
    list-style-type: none;
}
