.navbar-frame {
  display: flex;
  justify-content: center;
}


.navbar{
  height: 56px;
  width: 960px;
}


.items-buttons {
  display:flex;
  justify-content: center;
}
.items-buttons #btn-navbar-my-list {
display:flex;
color: grey;
margin-left: -65px;
margin-right: 0px;
top: 10px;
}

.items-buttons #btn-navbar-new-list {
color: grey;
margin-left: -155px;
top: 10px
}

.items-buttons #icon {
  display:none;
  color: black;
}

.dropdown-menu.show {

}

@media screen and (max-width: 580px) {
  .items-buttons #btn-navbar-my-list, #btn-navbar-new-list {display: none;}

  .items-buttons.responsive #btn-navbar-my-list, #btn-navbar-new-list {

  }


  .items-buttons.responsive #icon {
    display: block;
    color: black;



  }

  .dropdown-menu.show {
    right: 0px;
    margin-left: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    margin-top: 0px;
    top: 52px;
  }
}

.AppMenuResponsive {
  min-height: 100vh;
  background-color: #282c34;
  position: relative;
}
