.container-bookmark-new{
  width: 960px;
  margin-left: 260px;
  height: 323px;
}

.simple-form-html {
width: 500px;
margin-left: 0px;
display: flex;
height: 309px;
padding-left: 21px;
padding-right: 21px;
margin-right: 120px;
margin-left: 278px;
}

#test {
margin-left: 207px;
}
